html, body {
  font-family: 'Tahoma';
  height: 100%;
  margin: 0;
}

#main {
  min-height: 100%;
  margin: 40px;
}

a:link {
  color: #141cf4;
}

a:hover {
  color: #3a63f9;
}

a:active {
  color: #8121e7;
}