html, body {
  font-family: "Fira Sans", Helvetica, sans-serif;
  margin-top: 20px;
}

#main {
  width: 80%;
  margin: auto;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

a {
  font-weight: 400;
}

a:link {
  color: #141cf4;
}

a:hover {
  color: #3a63f9;
}

a:active {
  color: #8121e7;
}