* {
	box-sizing: border-box;
}

.gallery {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

.slide {
	display: none;
	max-height: 85vh;
}

img {
	width: 100%;
	object-fit: contain;
}

.cursor {
	cursor: pointer;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	bottom: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(12px);
}

.next {
	right: 0;
	border-radius: 5px 0 0 5px;
}

.prev {
	left: 0;
	border-radius: 0 5px 5px 0;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
	text-align: center;
	background-color: #1f2a39;
	padding: 2px 12px;
	width: 100%;
	align-self: center;
	color: white;
}
