* {
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 75%;
	margin-bottom: 60px;
}

.slide {
	display: none;
}

img {
	width: 100%;
	object-fit: cover;
}

.cursor {
	cursor: pointer;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	bottom: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(12px);
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
	text-align: center;
	background-color: #05050590;
	backdrop-filter: blur(12px);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
}
